define([], function(){
    return {
        serviceURL: "YOUR ARCGIS DELIVERYTRACKING SERVICE URL",
        simServiceURL: "YOUR ARCGIS DRIVERSIMULATION SERVICE URL",
        publishKey: "YOUR PUBNUB PUBLISH KEY",
        subscribeKey: "YOUR PUBNUB SUBSCRIBE KEY"
    };
});